Repository apartmentlist/coding-challenges, pull requests merged in 2018-10, with the labels that each got.

#8 Say My Name
  obfuscated/anoopnimkar/say_my_name.ws
Labels: short-and-sweet

#22 ASCII Solution
  obfuscated/jasonzhao6/ascii.txt
Labels: obfuscated, short-and-sweet

#21 HTML Solution
  obfuscated/jasonzhao6/draw.html
Labels: obfuscated

#20 SQL Solution
  obfuscated/jasonzhao6/10!.sql
Labels: obfuscated, short-and-sweet

#19 JS Solution
  obfuscated/jasonzhao6/calendar.js
Labels: obfuscated, short-and-sweet

#18 Rails Solution
  obfuscated/jasonzhao6/obfuscate.rb
Labels: obfuscated

#23 Python Solution
  obfuscated/jasonzhao6/new_jersey.py
Labels: obfuscated, short-and-sweet

#17 Rick's entry in Elisp
  obfuscated/rpdillon/just-a-name-game.el
  obfuscated/rpdillon/readme.org
Labels: obfuscated

#26 Swift solution
  obfuscated/vikram/Vikram.swift
Labels: obfuscated

#25 jakemoffatt
  obfuscated/jakemoffatt/jakemoffatt.rb
Labels: obfuscated, short-and-sweet
